html, body {
    height: 100vh;
}

#open, #close, #submit{
    background-color: #123c69;
    border:#123c69;  
    cursor: pointer; 
    padding: 8px; 
}

#modal{
    background-color:rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    overflow: auto; 
    display: none;
}

#modal-textbox{
    background-color: #edc7b7;
    color: black;
    height: 450px;
    width: 600px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 16px;
}


.lists{
    background-color: #f4976c;
}

.grocery-item{
    margin: .5em;
    width: auto;
    border-radius: 1em; 
    box-shadow: 2px 2px 4px gray;
    background: #d2fdff;
    color: black;
    text-align: left;
    padding: 8px;
}

.top-container {
    height: 45%;
    background-color: #f8e9a1 !important;
    position: relative;
}

.form{
    background-color: #f76c6c;
    padding: 8px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.bottom-container{
    min-height: 55%;
    display: flex;
    position: relative;
}

.custom-card-width {
    width: 30% !important;
}

.recipe-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.left-half {
    background-color: #a8d0e6;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
  
.right-half {
    background-color: #24305e;
    width: 50%;
    padding: 1rem;
}

.groceries-header{
    color: #a8d0e6;
}


.no-margin {
    margin-bottom: 0 !important;
}

h2{
    padding: 0.4rem;
}

.title-container {
    display: block;
    width: 100%;
}

#delete-button, #done-button{
    margin-left: 1em;
}

.done-item{
    text-decoration: line-through;
}





