#open, #close, #submit{
    background-color: #123c69;
    border:#123c69;  
    cursor: pointer;  
}
/* #close{
    background-color: #123c69;
    border:#123c69;  
    cursor: pointer;  
} */

#top-container.jumbotron{
    background-color: #f8e9a1;  
}

#modal{
    background-color:rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    overflow: auto; 
    display: none;
}

#modal-textbox{
    background-color: #edc7b7;
    color: black;
    height: 500px;
    width: 600px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 16px;
}

.form{
    background-color: #f76c6c;
    padding: 16px;
    text-align: center;
}

.lists{
    background-color: #f4976c;
}

.grocery-item{
    margin: .5em;
    width: auto;
    border-radius: 1em; 
    box-shadow: 2px 2px 4px gray;
    background: #d2fdff;
    color: black;
    text-align: left;
    padding: 8px;
}

.bottom-container{
    display: flex;
    min-height: 500px;
}

.left-half {
    background-color: #a8d0e6;
    flex: 2;
    padding: 1rem;
}
  
.right-half {
    background-color: #24305e;
    flex: 1;
    padding: 1rem;
}

.groceries-header{
    color: #a8d0e6;
}


.no-margin {
    margin-bottom: 0 !important;
}

h2{
    padding: 0.4rem;
}

